Django==1.9.8
django-fontawesome==0.2.6
extras==1.0.0
fixtures==3.0.0
funcsigs==1.0.2
fuzzywuzzy==0.11.1
lettuce==0.2.23
linecache2==1.0.0
mock==2.0.0
MySQL-python==1.2.5
pbr==1.10.0
Pillow==3.3.0
python-mimeparse==1.5.2
python-subunit==1.2.0
PyYAML==3.11
six==1.10.0
sure==1.4.0
testtools==2.2.0
traceback2==1.4.0
unittest2==1.1.0
